build/
cmake-build-debug/
.idea/
/sample_data/
/own_file_data_sample/
/fulldataset/
/data/diffs.txt
/sample_data_sets
/cmake-build-release/.ninja_deps
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-2ebdd397a9b9a925bf87.json
/cmake-build-release/.ninja_log
/cmake-build-release/22su_search_engine
/cmake-build-release/22su_search_engine_tests
/cmake-build-release/build.ninja
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/reply/cache-v2-68b230254b93ad284e19.json
/cmake-build-release/CMakeFiles/22su_search_engine_tests.dir/catch_setup.cpp.o
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.o
/cmake-build-release/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-release/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/CMakeError.log
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-c93d95a9fdba76c5cb64.json
/cmake-build-release/CMakeFiles/CMakeOutput.log
/cmake-build-release/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-bd4f8f290fd98b3296ae.json
/cmake-build-release/CMakeFiles/22su_search_engine_tests.dir/DataStructure_Tests.cpp.o
/cmake-build-release/data/diffs.txt
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
/cmake-build-release/.cmake/api/v1/reply/index-2022-06-26T19-13-36-0811.json
/cmake-build-release/CMakeFiles/22su_search_engine.dir/Interface.cpp.o
/cmake-build-release/Testing/Temporary/LastTest.log
/cmake-build-release/CMakeFiles/22su_search_engine.dir/main.cpp.o
/cmake-build-release/own_file_data_sample/news/news_0041337.json
/cmake-build-release/own_file_data_sample/news/news_0043371.json
/cmake-build-release/own_file_data_sample/news/news_0051123.json
/cmake-build-release/own_file_data_sample/news/news_0056175.json
/cmake-build-release/own_file_data_sample/news/news_0056951.json
/cmake-build-release/sample_data/coll_1/news_0064567.json
/cmake-build-release/sample_data/news_0064567.json
/cmake-build-release/sample_data/coll_1/news_0064568.json
/cmake-build-release/sample_data/news_0064568.json
/cmake-build-release/sample_data/coll_1/news_0064569.json
/cmake-build-release/sample_data/news_0064569.json
/cmake-build-release/sample_data/coll_2/news_0064570.json
/cmake-build-release/sample_data/news_0064570.json
/cmake-build-release/sample_data/coll_2/news_0064571.json
/cmake-build-release/sample_data/news_0064571.json
/cmake-build-release/sample_data/coll_2/news_0064572.json
/cmake-build-release/sample_data/news_0064572.json
/cmake-build-release/sample_data/news_0064573.json
/cmake-build-release/CMakeFiles/22su_search_engine.dir/ReadInData.cpp.o
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-release/CMakeFiles/22su_search_engine.dir/stemmer.cpp.o
/cmake-build-release/data/stopwords.txt
/cmake-build-release/data/stopWords2.txt/stopWords2.txt
/cmake-build-release/.cmake/api/v1/reply/target-22su_search_engine-Release-0854e57b58db08a6b5eb.json
/cmake-build-release/.cmake/api/v1/reply/target-22su_search_engine_tests-Release-662736c6e384648b11af.json
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
